.index-header{
  margin-top: 60px;
  text-align: center;
}

.index-header h1{
  font-weight: 100;
  padding: 20px;
}

.index-carousel{
  text-align: center;
  height: 450px
}


.margin{
}
.padding{}
.border{}
.none{}
.center{
  margin: auto
}

/* ANIMACIONES */ 
.my-node-enter {
  opacity: 0;
  transform: translateX(100%);

}

.my-node-enter-active {
 transform: translateX(0%);
 transition: transform 1000ms ease-in-out,
 opacity 1000ms;
  opacity: 1;


}

.my-node-exit {
  opacity:0;
 transform: translateX(100%);


}

.my-node-exit-active {
    transform: translateX(0%);
    transition: transform 1000ms ease-in-out,
    opacity 1000ms;
     opacity: 1;


}