/* COLORES
color: #6AC3AE
color: #83CFBD
color: #F7956D
color: #FEB69A
color: #4D4D4D
color: #ABADAD
color: #F0F0F0  */

/* ESTILOS GENERALES */

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 0px
}

h1 {
  font-size: 35pt;
  font-weight: 500;
}

h2 {
  font-size: 23pt;
  font-weight: 500;
}

h3 {
  margin: 3pt 0;
}

p {
  font-size: 14pt;
  font-weight: 400;
  margin: 0;
}

.gotoBottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.index-header {
  text-align: center;
}

.index-header h1 {
  font-family: Helvetica;
  font-size: 33px;
  color: #6B6B6B;
  letter-spacing: 0;
  text-align: center;
  font-weight: 100;
}

.logo {
  width: 40%;
}

.index-carousel {
  text-align: center;
  height: 450px
}

.flex {
  display: flex;
  justify-content: space-between;
top: 50%;
}

.no-margin {
  /* margin-bottom: 0; */
  margin-top: 0;
}

.fixedBottom {
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}
.flex-col {
  display: flex;
  flex-direction: column
}
.center{

.margin {
  margin:20px
}
.margin-right {
  margin-right: 20px
}


.center {
  margin: auto;
  text-align: center
}

.bold {
  font-weight: bold;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem
}

/* ANIMACIONES */
.my-node-enter {
  opacity: 0;
  transform: translateX(100%);

}

.my-node-enter-active {
  transform: translateX(0%);
  transition: transform 1000ms ease-in-out,
    opacity 1000ms;
  opacity: 1;


}

.my-node-exit {
  opacity: 0;
  transform: translateX(100%);


}

.my-node-exit-active {
  transform: translateX(0%);
  transition: transform 1000ms ease-in-out,
    opacity 1000ms;
  opacity: 1;


}

.overflow {
  overflow-y: scroll;
  height: 340px;
}

.text {
  font-family: Helvetica;
  font-size: 15px;
  color: #6A6A6A;
  line-height: 20px;
}

.vh{
scroll-margin-top: 25rem;
margin-bottom: 280px;
}

/* TOGGLE BUTTON DE REGISTER DOG */
.MuiToggleButtonGroup-grouped:not(:first-child) {
  color: #6AC3AE;
  border-color: #6AC3AE
}

.MuiToggleButtonGroup-grouped:not(:last-child) {
  color: #6AC3AE;
  border-color: #6AC3AE
}

.MuiToggleButton-root.Mui-selected:hover {
  background-color: #6AC3AE;
  color: white
}

.MuiToggleButtonGroup-groupedSizeSmall {
  border-radius: 20px;
  padding: 0px 13px
}

.MuiToggleButton-root {
  text-transform: none;
  font-size: 0.95rem;
}

.MuiToggleButton-root.Mui-selected {
  background-color: #6AC3AE;
  color: white
}

.margin-negative {
  margin-bottom: -4px;
}