.index-header{
  margin-top: 60px;
  text-align: center;
}

.index-header h1{
  font-weight: 100;
  padding: 20px;
}

.index-carousel{
  text-align: center;
  height: 450px
}


.margin{}
.padding{}
.border{}
.none{}
.center{}


/* .container-image{
  margin: auto;
  width:40%;
  height:150px;
  overflow:hidden;
  border-radius: 50%;
}

.container-image img{
  width:100%;
  height:auto
} */

